<div style="display:inline-block;">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-link" value="Annuler la réservation">
    {{ form_end(form) }}
</div>
