{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <h1>Inscription en tant qu'hôte</h1>

    {{ form(form, {"style": "horizontal"}) }}
{% endblock fos_user_content %}